.board__square {
	display: block;
	float: left;
	height: 60px;
	width: 60px;
}

.board__square--light {
    background-color: #ffbf80;
}

.board__square--dark {
	background-color: #663300;
}

.white {
	display: block;
    height: 45px;
    width: 45px;
}

.black {
	display: block;
	height: 45px;
	width: 45px;
}

.white-king {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) 0 0;
}

.white-queen {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -46px 0;
}

.white-bishop {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -91px 0;
}

.white-knight {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -136px 0;
}

.white-rook {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -181px 0;
}

.white-pawn {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -226px 0;
}

.black-king {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) 0 -46px;
}

.black-queen {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -46px -46px;
}

.black-bishop {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -91px -46px;
}

.black-knight {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -136px -46px;
}

.black-rook {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -181px -46px;
}

.black-pawn {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/270px-Chess_Pieces_Sprite.svg.png) -226px -46px;
}

.board__square:nth-child(8n+1) {
    clear: left;
}

.piece {
    position: relative;
    top: 7px;
    left: 8px;